
.vs/ProjectSettings.json
.vs/ryophispeciesmod/FileContentIndex/6879ee4a-5cb6-4dd0-8678-f768d5a535a9.vsidx
.vs/ryophispeciesmod/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ryophispeciesmod/v17/workspaceFileList.bin
.vs/ryophispeciesmod/FileContentIndex/read.lock
.vs/ryophispeciesmod/FileContentIndex/f305657b-6187-4b5f-abb4-218d191808e3.vsidx
*.vsidx
*.vsidx
