{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abi", 
							 "Alex", 
							 "Alexis", 
							 "Alice", 
							 "Alysia",
							 "Anne", 
							 "Annice", 
							 "Angel", 
							 "Annie", 
							 "Ariel", 
							 "Ashley", 
							 "Bailey", 
							 "Bee", 
							 "Blair", 
							 "Carina", 
							 "Carla", 
							 "Carmen", 
							 "Carmine", 
							 "Cassie", 
							 "Chelle", 
							 "Chiara", 
							 "Daisy", 
							 "Dallas", 
							 "Daphne", 
							 "Darija",
							 "Dawn", 
							 "Delia", 
							 "Demi", 
							 "Devina", 
							 "Donna", 
							 "Doris", 
							 "Elaine", 
							 "Elara", 
							 "Ellen", 
							 "Emilia", 
							 "Emma", 
							 "Elsa", 
							 "Erin", 
							 "Ethna", 
							 "Eva", 
							 "Evren", 
							 "Freya",
							 "Gala", 
							 "Gem", 
							 "Georgia", 
							 "Gina", "Gul", 
							 "Harley",
							 "Hayley", 
							 "Hiba", 
							 "Ibbie", 
							 "Ida", 
							 "Idril", 
							 "Ira", 
							 "Iris", 
							 "Irma",  
							 "Jeong", 
							 "Jessie", 
							 "June", 
							 "Karin", 
							 "Kelly", 
							 "Kelsey", 
							 "Kleio", 
							 "Laurie", 
							 "Layla", 
							 "Leah", 
							 "Lenna", 
							 "Lili", 
							 "Linn", 
							 "Lonnie", 
							 "Lorene", 
							 "Lorna", 
							 "Lucy", 
							 "Luna", 
							 "Lyra", 
							 "Malina", 
							 "Mallory", 
							 "Mara", 
							 "Mariel", 
							 "Marisa", 
							 "Maya", 
							 "Mila", 
							 "Milka", 
							 "Mimi", 
							 "Mina", 
							 "Mira", 
							 "Moira", 
							 "Molly", 
							 "Nalani", 
							 "Nasim", 
							 "Nell", 
							 "Neva", 
							 "Nevada",
							 "Nona", 
							 "Norah",
							 "Paris",
							 "Peony",
							 "Pia", 
							 "Quinn",
							 "Reed", 
							 "Remi", 
							 "Rene", 
							 "Rima", 
							 "Rosa", 
							 "Rosie",
							 "Rue", 
							 "Saige",
							 "Samara",
							 "Sara",
							 "Scout", 
							 "Selma", 
							 "Shana", 
							 "Shay", 
							 "Skylar",
							 "Sunny", 
							 "Suri", 
							 "Star", 
							 "Stormy", 
							 "Tania", 
							 "Taylor",
							 "Telma", 
							 "Thyra", 
							 "Ursa", 
							 "Vera", 
							 "Vivi", 
							 "Wanda",
							 "Wendy", 
							 "Yulia", 
							 "Zaray", 
							 "Ziv", 
							 "Zlata",
							 "Zoe", 
							 "Zora"  ]
    ]
  ]
}
