{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Alex", 
							 "Angel", 
							 "Ashley", 
							 "Bailey", 
							 "Billy", 
							 "Blair", 
							 "Byron",
							 "Cameron", 
							 "Carmen", 
							 "Carmine", 
							 "Carson", 
							 "Chen", 
							 "Charlie",
							 "Corey", 
							 "Dallas", 
							 "Delaney", 
							 "Devon", 
							 "Ellery", 
							 "Emerson", 
							 "Georgi", 
							 "Harley", 
							 "Ira", 
							 "Jamie", 
							 "Jan", 
							 "Jesse", 
							 "Jin", 
							 "Jude", 
							 "Julian", 
							 "Kelsey", 
							 "Kiley", 
							 "Lane", 
							 "Lee", 
							 "Lonnie", 
							 "Liu", 
							 "Lucian", 
							 "Mallory", 
							 "Marley", 
							 "Noel", 
							 "Orion", 
							 "Oleg", 
							 "Paris", 
							 "Perry", 
							 "Quinn", 
							 "Reed", 
							 "Rene", 
							 "Robin", 
							 "Scout", 
							 "Shay", 
							 "Sonny", 
							 "Skylar", 
							 "Sunny", 
							 "Stormy", 
							 "Taylor", 
							 "Tory", 
							 "Tyler", 
							 "Ulf", 
							 "Wesley", 
							 "Wynne", 
							 "Yang", 
							 "Yi", 
							 "Yuri", 
							 "Yury" ]
    ]
  ]
}
