{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adam", 
	                         "Alex", 
							 "Amal", 
							 "Amos", 
							 "Ash", 
							 "Asier", 
							 "Benny", 
							 "Billy", 
							 "Boyan", 
							 "Bran", 
							 "Bruno", 
							 "Byron", 
							 "Cameron", 
							 "Carl", 
							 "Carlos", 
							 "Carson", 
							 "Chao", 
							 "Charlie",
							 "Clancy", 
							 "Clay", 
							 "Conan", 
							 "Corey", 
							 "Cosmo", 
							 "Cyrus", 
							 "Dave", 
							 "Dean",
							 "Derek",
							 "Desmond", 
							 "Devin", 
							 "Djuro", 
							 "Dom",
							 "Draven",
							 "Edwin",
							 "Einar", 
							 "Elvis",
							 "Emil", 
							 "Enzo", 
							 "Eoin", 
							 "Faris", 
							 "Felix", 
							 "Fife", 
							 "Finn", 
							 "Floyd",
							 "Francis",
							 "Fred", 
							 "George",
							 "Gilroy",
							 "Gus", 
							 "Guy", 
							 "Hasim",
							 "Hill", 
							 "Huey", 
							 "Inigo",
							 "Irving",
							 "Isaac", 
							 "Issy", 
							 "Ivo", 
							 "Izem", 
							 "Jamie", 
							 "James", 
							 "Jan", 
							 "Javier",
							 "Jay", 
							 "Jim", 
							 "Joe", 
							 "José",
							 "Joel",
							 "Jemmy", 
							 "Jesse", 
							 "Jin", 
							 "Juan", 
							 "Julian",
							 "Keane", 
							 "Kim", 
							 "Kirk", 
							 "Kit", 
							 "Lane",
							 "Lee", 
							 "Leon",
							 "Leo", 
							 "Liu", 
							 "Livio",
							 "Lucian",
							 "Luigi", 
							 "Luis", 
							 "Mac", 
							 "Manolo",
							 "Marc", 
							 "Marcel",
							 "Mario", 
							 "Matt", 
							 "Max", 
							 "Melville", 
							 "Mick", 
							 "Ming", 
							 "Miron", 
							 "Marley", 
							 "Nevada", 
							 "Niall", 
							 "Nick", 
							 "Ninos", 
							 "Noel", 
							 "Nolan",
							 "Norris",
							 "Oran", 
							 "Orion",
							 "Oswin",
							 "Owen", 
							 "Pau", 
							 "Perry", 
							 "Prince",
							 "Quinn",
							 "Ralph",
							 "Ray", 
							 "Reed", 
							 "Ren", 
							 "Roc", 
							 "Ronald",
							 "Rory",
							 "Samir",
							 "Sarge",
							 "Scout",
							 "Seb", 
							 "Sherman",
							 "Shui", 
							 "Skip", 
							 "Sonny", 
							 "Stelian",
							 "Sten", 
							 "Stephen",
							 "Sterling",
							 "Steve", 
							 "Sweeney", 
							 "Theo", 
							 "Tom", 
							 "Tyler", 
							 "Vaughn", 
							 "Vincent",
							 "Wes", 
							 "Wesley", 
							 "William", 
							 "Wulf",
							 "Xuan",
							 "Yam", 
							 "Yanko", 
							 "Yannick",
							 "Yang", 
							 "Yrian", 
							 "Zac", 
							 "Zhi", 
							 "Zoran" ]
    ]
  ]
}
